In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv')

In [3]:
dataset.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
dataset.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [6]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Serial No.,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [7]:
X=dataset.drop('Chance of Admit ',axis=1)

In [8]:
X.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0

In [9]:
y=dataset['Chance of Admit ']

In [10]:
y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit , dtype: float64

In [11]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [13]:
X_train_tf=sc_X.fit_transform(X_train)

In [14]:
X_train_tf

array([[ 1.55816388e+00, -5.25174731e-01, -7.06985745e-01, ...,
         5.38819022e-01, -8.35765678e-01, -1.14470294e+00],
       [-1.64243247e+00,  4.77035981e-01,  2.76433873e-01, ...,
        -1.61323061e-03,  3.63045482e-01, -1.14470294e+00],
       [-1.77908715e+00, -7.98504925e-01, -1.03479228e+00, ...,
         5.38819022e-01, -1.15657430e+00, -1.14470294e+00],
       ...,
       [ 6.73504661e-01, -1.34516531e+00, -1.36259882e+00, ...,
        -1.62290999e+00, -2.25407747e+00, -1.14470294e+00],
       [ 1.29923923e+00, -7.07394861e-01, -3.79179206e-01, ...,
         5.38819022e-01, -1.52803691e+00, -1.14470294e+00],
       [-1.09581377e+00, -2.51844537e-01, -2.15275936e-01, ...,
        -1.61323061e-03, -5.65611050e-01, -1.14470294e+00]])

In [15]:
y_train

471    0.64
26     0.76
7      0.68
453    0.73
108    0.93
       ...
106    0.87
270    0.72
348    0.57
435    0.55
102    0.62
Name: Chance of Admit , Length: 335, dtype: float64

In [16]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train_tf, y_train)

SVR()

In [17]:
X_train_tf[0]

array([ 1.55816388, -0.52517473, -0.70698575, -0.08288487, -1.38531121,
        0.53881902, -0.83576568, -1.14470294])

In [24]:
y_pred_value = regressor.predict([[ 1.55816388, -0.52517473, -0.70698575, -0.08288487, -1.38531121,
        0.53881902, -0.83576568, -1.14470294]])
y_pred_value

array([0.56360083])

In [19]:
regressor.score(X_train_tf,y_train)

0.8002696421631225

In [20]:
X_test_tf=sc_X.transform(X_test)

In [21]:
y_pred=regressor.predict(X_test_tf)

In [29]:
y_pred

array([0.85327566, 0.70566642, 0.56577617, 0.68513912, 0.73073652,
       0.84759115, 0.50884113, 0.63512354, 0.71546806, 0.75966639,
       0.57183244, 0.71682881, 0.6228902 , 0.87034528, 0.80538203,
       0.45539152, 0.78034293, 0.51298148, 0.52072102, 0.57781496,
       0.65704711, 0.53857913, 0.7306496 , 0.78872557, 0.69357076,
       0.5926933 , 0.843987  , 0.82839114, 0.59525329, 0.75285329,
       0.56177445, 0.761017  , 0.57579346, 0.84035618, 0.57955442,
       0.7686765 , 0.50127929, 0.88017372, 0.66595737, 0.64142824,
       0.87065485, 0.52080723, 0.63350483, 0.85528765, 0.82310479,
       0.47790267, 0.85620031, 0.74364715, 0.76326758, 0.85361512,
       0.81739371, 0.55214794, 0.6810001 , 0.53159075, 0.90702514,
       0.56836681, 0.83980413, 0.59580852, 0.6745631 , 0.45741035,
       0.59644739, 0.72846957, 0.5933817 , 0.62610304, 0.48959131,
       0.54214166, 0.83976541, 0.8396225 , 0.67509268, 0.69812838,
       0.65151703, 0.79682174, 0.69471546, 0.58558049, 0.51274623,
       0.71102862, 0.80506604, 0.81858292, 0.44022248, 0.60626074,
       0.68135064, 0.78816077, 0.64312672, 0.80921569, 0.73883943,
       0.65342583, 0.60539529, 0.7375616 , 0.77339084, 0.69785607,
       0.74867341, 0.84240892, 0.87871142, 0.69710495, 0.78844475,
       0.47504067, 0.62947709, 0.71640435, 0.73414257, 0.53127454,
       0.80409686, 0.70927605, 0.52625603, 0.69155924, 0.70891608,
       0.54575333, 0.74120688, 0.76668693, 0.69705305, 0.65675686,
       0.61229395, 0.87815292, 0.84078298, 0.86092636, 0.40223106,
       0.81305237, 0.69935842, 0.8792775 , 0.53706344, 0.60163982,
       0.7232158 , 0.88432815, 0.7642912 , 0.68918653, 0.71857187,
       0.72130402, 0.60175527, 0.88525868, 0.7665937 , 0.51965101,
       0.5964044 , 0.66245068, 0.78301881, 0.47545906, 0.73839942,
       0.41141632, 0.81003235, 0.81342825, 0.56221156, 0.71162865,
       0.62552657, 0.65219413, 0.79610622, 0.47227593, 0.90804817,
       0.67646231, 0.86353569, 0.76570903, 0.67480056, 0.68310625,
       0.75301945, 0.59900557, 0.75347854, 0.58116682, 0.58316801,
       0.67492506, 0.6141046 , 0.76912297, 0.451248  , 0.51861873,
       0.62686496, 0.75779807, 0.66431766, 0.45720304, 0.61809108])

In [32]:
X_test['Quality_pred']=y_pred

In [33]:
X_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Quality_pred
361,362,334,116,4,4.0,3.5,9.54,1,0.853276
73,74,314,108,4,4.5,4.0,9.04,1,0.705666
374,375,315,105,2,2.0,2.5,7.65,0,0.565776
155,156,312,109,3,3.0,3.0,8.69,0,0.685139
104,105,326,112,3,3.5,3.0,9.05,1,0.730737
...,...,...,...,...,...,...,...,...,...
110,111,305,108,5,3.0,3.0,8.48,0,0.626865
318,319,324,111,3,2.5,2.0,8.80,1,0.757798
428,429,316,103,2,2.0,4.5,8.74,0,0.664318
29,30,310,99,2,1.5,2.0,7.30,0,0.457203
437,438,317,106,1,1.5,3.5,7.65,1,0.618091